/* index.html */

/* top-header */
.top-header {
    background-color: #0f1a59;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.top-header-text {
    color: aliceblue;
    font-size: 20px;
    margin-right: 20px;
}


/* header (logo+navigation+search */
.header {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    position: relative;
}

.nav-ul {
    display: flex;
    width: 600px;
    height: 50px;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 50px;
    align-items: center;

}

.nav-text {
    font-weight: bold;
    font-family: "BPG Ucnobi", sans-serif;
    font-size: 20px;
    color: black;
}

.active-nav-text {
    color: red;
}

.search-forms {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.search-forms:focus {
    width: 100%;
}

.search-div {
    width: 200px;
}




/* burger-bar */
.burger {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    display: none;
}

.burger span {
    height: 7px;
    width: 100%;
    background-color: rgb(236, 187, 42);
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.burger span:nth-child(1) {
    top: 25%;
    background-color: black;
}

.burger span:nth-child(2) {
    top: 50%;
    background-color: rgb(7, 202, 219);
}

.burger span:nth-child(3) {
    top: 75%;
    background-color: rgb(236, 172, 33);
}


.burger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.off-menu {
    background-color: rgb(221, 164, 20);
    opacity: 0.9;
    width: 100%;
    color: black;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    margin-top: 150px;
    z-index: 10;
    font-family: "BPG Ucnobi", sans-serif;
}

.off-menu.active {
    right: 0;
}




.end-header {
    height: 30px;
    /* background-color: #1736e4; */
    /* background: linear-gradient(to bottom, #0000ff 0%, #ffffff 100%) */
    background-image: linear-gradient(white, #f5b106, white);
}



/* skola.html */

/* 
.skola {
    background-image: url(../images/skola.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 20px;

} */


.school-name {
    font-size: 33px;
    text-decoration: solid;
    position: absolute;
    color: rgb(12, 12, 11);
    text-shadow: 2px 2px 8px #010202;
    font-weight: bold;
    font-family: "MG Glaho Drunk", sans-serif;
    text-align: center;
    align-items: center;
    z-index: 12;
}

.school-name-div {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    margin-top: 20px;
}

.container {
    height: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.box {
    width: 100%;
    height: 355px;
    border: 1px inset rgba(255, 255, 255, 0.4);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        border: 1px dashed rgba(255, 255, 255, 0.4);
        transform: scale(1.42);
    }
}

.spin-container {
    width: 100%;
    height: 100%;
    animation: spin 12s ease-in-out infinite alternate;
    position: relative;
}

.shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 52% 48% 67% 33% / 45% 25% 75% 55%;
    animation: morph 5s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

.bd {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: url(../images/skola.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    color: #003;
    font-size: 5vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    animation: spin 12s ease-in-out infinite alternate-reverse;
    opacity: 1;
    z-index: 2;
}

@keyframes morph {
    0% {
        border-radius: 52% 48% 67% 33% / 45% 25% 75% 55%;
    }

    100% {
        border-radius: 56% 44% 49% 51% / 19% 71% 29% 81%;
    }
}

@keyframes shape {
    to {
        /* transform: rotate(20deg); */
        transform: rotate(1turn)
    }
}



/* klubebii */
.klub-section {
    /* width: 1220px; */
    max-width: 1220px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    row-gap: 10px;
    margin-top: 50px;
}

.div-charcho {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.klub {
    width: 400px;
    height: 300px;
}

.klub-title {
    margin: auto;
}

.klubs {
    color: green;
}

.title-font {
    font-size: 32px;
    margin-bottom: 20px;
    margin: auto;
    font-family: "MG Glaho Drunk", sans-serif;
    color: rgb(12, 12, 11);
    text-shadow: 2px 2px 8px #010202;
    font-weight: bold;

}

.under-klub-title {
    width: 250px;
    height: 10px;
    margin-left: auto;
    position: relative;
    margin: auto;

}

.under-klub-title span {
    height: 10px;
    width: 100%;
    background-image: linear-gradient(white, #f5b106, white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}


.main-text {
    font-size: 18px;
    line-height: 23px;
}


/* button შენც შეგიძლია შემოგვიერთდე */
.button {
    border: none;
    color: #04AA6D;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 30px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}




/* ჯერ თავისუფალი */
.free-div {
    height: 200px;
    width: 100%;
    background-color: #0f1a59;
    opacity: 0.8;
}



/* last */
.last {
    background-color: #0f1a59;
    padding: 70px 0px;
}

.last-div {
    max-width: 1140px;
    width: 95%;
    margin: auto;
    display: flex;
}


.li-h {
    width: 228px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 16px;

}

.li-h-text {
    text-decoration: underline rgb(249, 248, 248);
    font-size: 16px;
}

.li-p {
    width: 228px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;

}

.social-icon {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


/* saavtoro uflebebze Tu raRac */
.saavtoro {
    border-style: solid;
    border-width: 0.2px 0px 0px 0px;
    border-color: #FFFFFF21;
    padding: 20px;
    background-color: #0f1a59;
    height: 50px;
    color: white;
    font-size: 12px;
}














/* hower */
.under-line {
    position: relative;
}

.under-line::after {
    content: ' ';
    height: 2px;
    width: 0%;
    background-color: #0f1a59;
    position: absolute;
    left: 0;
    bottom: 0;
}

.under-line:hover::after {
    width: 100%;
    /* transition: all 1s; */
}

.under-line-on-blue {
    position: relative;
}

.under-line-on-blue::after {
    content: ' ';
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.under-line-on-blue:hover::after {
    width: 100%;
    /* transition: all 1s; */
}










/* CONTACT */
.contact-section {
    background-color: #EBEBF0;
    width: 100%;
    height: 546px;
    padding-top: 78px;
   
 
}
.contact-information {margin-top:40px;
    }

.left-block-contact {
    display: inline-block;
    vertical-align: top;
    margin-left: 130px;
    margin-right: 177px;
}


.contact-span {
    color: black;
    font-size: 20px;
    font-weight:bold;
   }

.contact-main-text {
    color: #19126B;
    font-size: 20px;
    text-decoration: none;
}



.right-block-contact {
    display: inline-block;
    vertical-align: top;
}

.li2 {
    margin-top: 11px;
    margin-bottom: 11px;
}